.app {
    background-color: #fff;
    height: calc(100vh - 150px);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: #202124;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 30px;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
}

.app-logo-small {
    height: 20vmin;
    pointer-events: none;
}

.app-header {
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.app-text {
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: calc(20px + 2vmin);
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.app-text:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #009e60;
}

#app-name {
    text-align: center;
}

a {
    color: #009e60;
}

.app-footer {
    position: fixed;
    bottom: 20px;
}

.btn {
    margin: 30px auto;
    padding: 0;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    
    background-color: #009e60;
    font-size: 15px;
    color: #fff;
    
    transition: background-color .3s;
}
  
.btn:hover, .btn:focus {
    background-color: #27ae60;
}
  
.btn span {
    display: block;
    padding: 12px 24px;
}

.todolist ul {
    list-style: none;
    width: 100%;
    max-height: 250px;
    overflow: scroll;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.todolist li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    accent-color: #009e60;
}

.todolist li button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0.8rem;
    padding: 0.8rem;
    transform: translateY(2px);
}